div{
   
    width: 500px;
    height: 300px ;
    background-image: url(/CSS/Images/nature.jpg);
    background-size: cover;
    background-position: top;
    font-size:xx-large;
    font-weight: bolder;
    font-family: impact;
    color:transparent;
    background-clip: text;
    text-align: center;
         
}
